<ion-list>
  <ion-item *ngFor="let restaurant of restaurants" (click)="onClick(restaurant)">
    <ion-col class="text-center border-right">
      <img src="/images/{{restaurant.user.pictureName}} " width="80px">
    </ion-col>
    <ion-col class="text-center">
      <ion-row>
        <ion-col>
          <ion-label>{{restaurant.name}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-button [disabled]="false" (click)="onClick(restaurant)">进去逛逛</ion-button>
    </ion-col>
  </ion-item>
</ion-list>
