<ion-content>
  <ion-list>
    <ion-item *ngFor="let myOrder of myOrders">
      <ion-card style="width: 400px">
        <ion-card-header>
          <ion-card-title>{{myOrder.restaurant?.name}}</ion-card-title>
          <ion-label>{{myOrder.restaurant?.address}}</ion-label>
          <ion-label>商家电话：{{myOrder.restaurant?.phone}}</ion-label>
          <ion-label *ngIf="myOrder.status == 4">外卖员电话：{{myOrder?.rider?.phone}}</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-row *ngFor="let dishesOrder of myOrder.dishesOrders">
            <ion-col>
              <ion-label color="dark">{{dishesOrder.dishes.name}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="dark">{{dishesOrder.count}}份</ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="dark">{{dishesOrder.price}}元</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <ion-label class="text-left" color="dark">总价:{{myOrder.totalPrice}}元</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="myOrder.status == 1">
            <ion-col>
              <span class="badge badge-success">{{myOrder.status|status}}</span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="myOrder.status == 2">
            <ion-col>
              <span class="badge badge-primary">{{myOrder.status|status}}</span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="myOrder.status == 3">
            <ion-col>
              <span class="badge badge-primary">{{myOrder.status|status}}</span>
            </ion-col>
            <ion-col>
              <ion-button (click)="confirm(myOrder)">确认收货</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="myOrder.status == 4">
            <ion-col>
              <span class="badge badge-info">{{myOrder.status|status}}</span>
            </ion-col>
            <ion-col>
              <ion-button (click)="confirm(myOrder)">确认收货</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="myOrder.status == 5">
            <ion-col>
              <span class="badge badge-warning">{{myOrder.status|status}}</span>
            </ion-col>
            <ion-col>
              <ion-button (click)="comment(myOrder)">去评价</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="myOrder.status == 6">
            <ion-col>
              <span class="badge badge-secondary" >{{myOrder.status|status}}</span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
